# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Env
.env
.env.*
!.env.example

# Tests
.pytest_cache/
.coverage
htmlcov/

# Mypy
.mypy_cache/

# IDEs
.vscode/
.idea/
*.swp

# Docker
postgres_data/

# OS
.DS_Store
Thumbs.db